/* CSS files add styling rules to your content */

body {
  font-family: Manrope;
  margin: 0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
}

table,
tr,
td {
  border: 1px solid black;
}

td {
  width: 200px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 40px;
  box-shadow: 0px 4px 24px rgb(167 167 167 / 8%);
}

.logo {
  background-image: url("/logo.fe047d72.svg");
  background-size: contain;
  height: 24px;
  width: 91px;
}

.header-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #262626;
}

.title-site {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #262626;
  max-width: 540px;
  margin: 60px auto 0;
}

.title-documentation {
  margin-top: 24px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #262626;
}

.title-documentation a {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #5f8afa;
}

.title-account {
  margin: 60px 0 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #262626;
}

section {
  max-width: 660px;
  margin: 0 auto;
}

.input-wrap {
  position: relative;
  display: flex;
  align-items: center;
  background: #f7f9fe;
  border-radius: 60px;
}

.input-name {
  margin-left: 20px;
  height: 44px;
  background: transparent;
  border: 0;
  outline: none;
  width: calc(100% - 80px);
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #5f8afa;
}

.search-icon {
  width: 100%;
  height: 100%;
  background: url("/search.bab3328d.svg") center;
}
.search-icon:hover {
  opacity: 0.7;
}

.submit-button {
  position: absolute;
  right: 2px;
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

#output {
  margin-top: 32px;
  box-shadow: 0px 4px 24px rgba(167, 167, 167, 0.08);
  border-radius: 4px;
}

.row {
  margin-bottom: 32px;
  display: flex;
}

.row > div {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #262626;
}

.row:last-child {
  margin: 0;
}

.row :first-child {
  padding-right: 10px;
  flex: 2;
}

.row :last-child {
  flex: 4;
}

progress {
  border-radius: 8px;
  width: 100%;
  border-radius: 12px;
  height: 8px;
}
progress::-webkit-progress-bar {
  background: #f7f9fe;
  border-radius: 12px;
}
progress::-webkit-progress-value {
  background: linear-gradient(270deg, #a463b0 0%, #5f8afa 100%);
  box-shadow: 0px 4px 24px rgba(167, 167, 167, 0.08);
  border-radius: 12px;
}
progress::-moz-progress-bar {
  /* style rules */
}
table {
  display: block;
  padding: 12px 24px;
  border: 0;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(167, 167, 167, 0.08);
  border-radius: 4px;
}
table tr {
  border: 0;
}
table td {
  border: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #262626;
}
table th {
  border: 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #262626;
}
table td:first-child {
  width: 40%;
}
table td:last-child {
  width: 20%;
}
.staking-text {
  margin-top: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #262626;
}

.near-icon {
  display: flex;
  align-items: center;
  flex: 0 !important;
  padding: 0px !important;
  height: 14px;
  min-width: 14px;
  background: url("/near-icon.17c5b8ad.svg");
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-wrap {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px 24px;
}

.grid-value {
  display: flex;
  overflow-wrap: anywhere;
}

#loader {
  display: none;
}

#loader.active {
  display: block;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 45px;
  height: 45px;
  margin: 25px auto;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*# sourceMappingURL=/style.e308ff8e.css.map */